In [12]:
import pandas as pd
import os

In [13]:
data_dir = os.path.join(os.getcwd(), '..', 'data')

In [14]:
df = pd.read_csv(os.path.join(data_dir, 'original', 'accounts.csv'))

In [15]:
df['account_id'] = [f"ACC-{num:05d}" for num in range(1, len(df) + 1)]

In [16]:
df.to_csv(os.path.join(data_dir, 'accounts_with_id.csv'), index=False)

In [17]:
opp_df = pd.read_csv(os.path.join(data_dir,'processed', 'original_merged_data.csv'))

In [18]:
opp_df

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,manager,regional_office,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,Dustin Brinkmann,Central,GTX,1096,retail,2001.0,718.62,2448.0,United States,NaN
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0,Melvin Marxen,Central,GTX,4821,medical,2002.0,3178.24,4540.0,United States,NaN
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,Melvin Marxen,Central,MG,55,retail,2001.0,718.62,2448.0,United States,NaN
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,Dustin Brinkmann,Central,GTX,550,software,1998.0,2714.90,2641.0,United States,Acme Corporation
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,Summer Sewald,West,GTX,550,services,1982.0,792.46,1299.0,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
opp_df["opportunity_id"] = opp_df["opportunity_id"].map(lambda x: f"OPP-{x}")

In [29]:
ids = df[['account_id', 'account']]
ids

   account_id           account
0   ACC-00001  Acme Corporation
1   ACC-00002        Betasoloin
2   ACC-00003          Betatech
3   ACC-00004        Bioholding
4   ACC-00005           Bioplex
..        ...               ...
80  ACC-00081        Zathunicon
81  ACC-00082    Zencorporation
82  ACC-00083            Zoomit
83  ACC-00084           Zotware
84  ACC-00085          Zumgoity

[85 rows x 2 columns]

In [32]:
opp_df = opp_df.merge(ids, on='account', how='left')

In [33]:
opp_df.to_csv(os.path.join(data_dir, 'opp_data_with_id.csv'), index=False)