In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import os

In [22]:
curr_dir  = os.getcwd()
data_path = os.path.join(curr_dir, "..", "data")
df = pd.read_csv(os.path.join(data_path, "processed", "merged_df.csv"))

In [23]:
df

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,manager,regional_office,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,Dustin Brinkmann,Central,GTX,1096,retail,2001.0,718.62,2448.0,United States,NaN
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0,Melvin Marxen,Central,GTX,4821,medical,2002.0,3178.24,4540.0,United States,NaN
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,Melvin Marxen,Central,MG,55,retail,2001.0,718.62,2448.0,United States,NaN
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,Dustin Brinkmann,Central,GTX,550,software,1998.0,2714.90,2641.0,United States,Acme Corporation
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,Summer Sewald,West,GTX,550,services,1982.0,792.46,1299.0,United States,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df[df['account'] == 'Unknown'].count()

opportunity_id      1425
sales_agent         1425
product             1425
account             1425
deal_stage          1425
engage_date         1088
close_date             0
close_value            0
manager             1425
regional_office     1425
series              1425
sales_price         1425
sector              1425
year_established       0
revenue                0
employees              0
office_location     1425
subsidiary_of       1425
dtype: int64

In [ ]:
def row_to_sentence(row):
    return (
        f"Opportunity for {"unknown account or account ID"} in {"an unknown or {row['sector']}""} sector, which was "
        f"established in {int(row['year_established']) | an unknown year } with {int(row['employees']) | an unknown number of} employees "
        f"and has a {unknown revenue | revenue of {row['revenue']}. "
        f"{An unknown sales agent | The sales agent {row['sales_agent']}}, managed by {an uknown manager | row['manager']}, handled {an known product | product "
        f"{row['product']} (an unknown series {row['series']}) {with an unknown price | priced at {row['sales_price']}}. "
        f"The deal was {row['deal_stage']} with a close value of {row['close_value']}, "
        f"engaged on {an unknown date | row['engage_date']} and closed on {an unkown date | row['close_date']} "
        f"through  { an unknown office | row['regional_office']} office in { an unknown location | row['office_location']}."
    )

In [ ]:
df.iloc[400]

opportunity_id             D45LXDPW
sales_agent         Niesha Huffines
product              GTX Plus Basic
account                     Unknown
deal_stage              Prospecting
engage_date                     NaN
close_date                      NaN
close_value                     NaN
manager               Melvin Marxen
regional_office             Central
series                          GTX
sales_price                    1096
sector                      Unknown
year_established                NaN
revenue                         NaN
employees                       NaN
office_location             Unknown
subsidiary_of               Unknown
Name: 400, dtype: object

In [20]:
row_to_sentence(df.iloc[400])

ValueError: cannot convert float NaN to integer